<%- include('../includes/head.ejs') %>
<body>

<div class="fh5co-loader"></div>

<div id="page">

    <%- include('../includes/navigation.ejs') %>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/dubai.jpg);" data-stellar-background-ratio="0.5">

        <div class="overlay">

            <center>


                <div class="">

                    <br> <br>
                    <br> <br>
                    <br> <br>
                    <br> <br>
                    <h1 style="color: white">Please Verify Your Email Address to Continue!</h1>

                </div>

            </center>
        </div>

    </header>


    <%- include('../includes/footer.ejs')%>

    <%- include('../includes/commonScripts.ejs')%>



</body>
</html>

