	<div id="fh5co-couple" <% if(path === "services" || path === "about") {%>class="fh5co-section-gray"<%}%> >
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>November 28th, 2020 Dubai, UAE</h3>
					<p>We invited you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="/images/hus.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Prakhar Gupta</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="/images/kat.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Katrina Kaif</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
					</div>
				</div>
			</div>
		</div>
	</div>