	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">YP<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="<%if(path === "homepage") {%>active<%}%>" ><a href="/">Home</a></li>
						<li class="<%if(path === "about") {%>active<%}%>" ><a href="/about">Story</a></li>
						<li class="has-dropdown<%if(path === "services") {%> active<%}%>">
							<a href="/services">Services</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Hotel Booking</a></li>
								<li><a href="#">Photo Graphy</a></li>
								<li><a href="#">Event Management</a></li>
							</ul>
						</li>
						<li class="<%if(path === "contact"){%>active<%}%>"><a href="/contact">Contact</a></li>
						<li  class="has-dropdown<%if(path === "gallery") {%> active<%}%>">
							<a href=<% if(isLoggedIn){%>"/auth/logout"> Log Out <%}else {%>"/auth/signup" >Sign Up <%}%></a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
