	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="/">YP<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="<%if(path === "homepage") {%>active<%}%>" ><a href="/">Home</a></li>
						<li class="has-dropdown<%if(path === "services") {%> active<%}%>">
							<a href="/services">Services</a>
							<ul class="dropdown">
								<li><a href="/destination">Destination</a></li>
								<li><a href="/hotels">Hotel Booking</a></li>
								<li><a href="#">Photo Graphy</a></li>
								<li><a href="#">Invitation Cards</a></li>
								<li><a href="#">Event Management</a></li>
							</ul>
						</li>
						<li class="<%if(path === "about") {%>active<%}%>" ><a href="/about">About</a></li>
						<li class="<%if(path === "contact"){%>active<%}%>"><a href="/contact">Contact</a></li>
						<%if(!isLoggedIn){%>
						<li class="<%if(path === "login"){%>active<%}%>"><a href="/auth/login">Login</a></li>
						<li  class="<%if(path === "signup") {%>active<%}%>"><a href="/auth/signup">Sign Up</a></li>
						<%}%>
						<%if(isLoggedIn){%>
						<li><a href="/auth/logout"> Log Out</a></li>
						<li class="has-dropdown">
							<a href="/"><img height="30" src="/images/userLoggedIn.png"></a>
							<ul class="dropdown">
								<li><a href="/search">Search Profile</a></li>
								<li><a href="/edit-profile">Edit Profile</a></li>
							</ul>
						</li>
						<%}%>
						<li>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
